<%- model_class = Project -%>
<h1>
	<%= @user.full_name %>
</h1>

<% if @projects and !@projects.empty? %>

	<% @projects.each do |project| %>
	  <div class="well">
	    <%= image_tag(project.avatar.url(:thumb), :style => "float:left; padding:0px 20px 0px 0px") if project.avatar.present? %>
	    <h4><%= link_to project.title, project_path(project) %></h4>
	    <p>Language: <%= project.language %></p>
	    <p><%= project.description %></p>

	    <% if user_signed_in? and current_user.id == project.user.id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_project_path(project), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      project_path(project),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>

	    <% end %>
	  </div>
	<% end %>


<% else %>
	
	<br><br><br><br><br>
	<p> Kinda boring... No projects yet </p>


<% end %>