<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<% @projects.each do |project| %>
  <div class="well">
    <%= image_tag(project.picture_url, :width => 130, :style => "float:left; padding:0px 20px 0px 0px") if project.picture.present? %>
    <h4><%= link_to project.title, project_path(project) %></h4>
    <p>By: <%= link_to project.user.full_name, "/" + project.user.username %></p>
    <p>Language: <%= project.language %></p>
    <p><%= project.description %></p>
  </div>
<% end %>
